@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    padding: 2rem;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.dropdown {
    color: white;
    border-radius: 0.2rem;
    font-weight: 700;
    background-color: gray;
    display: flex;
    flex-direction: column;

}

li {
    padding-inline: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

i {
    color: white;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 0.3rem;
    padding: 5px;
}

.dropdown-wrapper {
    padding-inline: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.dropdown-wrapper.active {
    max-height: 300px;
}